<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.xiaozhi.mapper.GradeMapper">
    <!-- 根据年级名称查询指定/全部年级信息列表 -->
    <select id="selectList" parameterType="java.lang.String" resultType="grade">
        SELECT id, name, manager, email, telephone,introduction
        FROM ssm_student.tb_grade
        <where>
            <if test="name!=null and name!=''">
                AND name LIKE concat(concat('%',#{name}),'%')
            </if>
        </where>
    </select>

    <!-- 查询所有年级列表信息(用于在班级管理页面中获取年级信息) -->
    <select id="selectAll" resultType="grade">
        SELECT id, name, manager, email, telephone, introduction
        FROM ssm_student.tb_grade
    </select>

    <!-- 根据年级名称查询指定年级信息 -->
    <select id="findByName" parameterType="String" resultType="grade">
        SELECT id, name, manager, email, telephone, introduction
        FROM ssm_student.tb_grade
        WHERE name = #{name}
    </select>

    <!-- 添加年级信息 -->
    <insert id="insert" parameterType="grade">
        INSERT INTO ssm_student.tb_grade(name, manager, email, telephone, introduction)
        VALUES (#{name}, #{manager}, #{email}, #{telephone}, #{introduction})
    </insert>

    <!-- 根据id更新指定年级信息 -->
    <update id="update" parameterType="grade">
        UPDATE ssm_student.tb_grade
        SET name=#{name},
            manager=#{manager},
            email=#{email},
            telephone=#{telephone},
            introduction=#{introduction}
        WHERE id = #{id}
    </update>

    <!-- 根据id删除指定的年级信息 -->
    <delete id="deleteById">
        DELETE FROM ssm_student.tb_grade WHERE id=#{id}
    </delete>

</mapper>